* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.login-register {
  display: flex;
  width: 100%;
  justify-content: flex-end;
  align-items: center;
}

.login-register .login-wrapper,
.login-register .register-wrapper {
  position: relative;
  display: flex;
  border-radius: 6px;
  justify-content: center;
  align-items: center;
  padding: 18px;
  margin-left: 12px;
  height: 40px;
  width: 125px;
  background: red;
}

.login-register .login-wrapper a,
.login-register .register-wrapper a {
  text-transform: uppercase;
  font-size: 18px;
  font-weight: 600;
  text-align: center;
  color: #ffffff;
  position: absolute;
  padding-top: 5px;
  display: block;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 999;
}

.user-registration-bio-section .form-elements-container {
  display: flex;
  flex-direction: row;
  min-width: 100%;
  align-items: center;
  justify-content: flex-start;
  flex-wrap: wrap;
}

.user-registration-bio-section .form-elements-container .form-element {
  width: 85%;
  padding: 20px 20px 0px 0px;
}

.user-registration-bio-section .form-elements-container .form-radio {
  display: flex;
  align-items: baseline;
  justify-content: flex-start;
}

.user-registration-bio-section .form-elements-container .form-radio label {
  margin-right: 20px;
}

.submit-btn {
  width: 250px;
  font-weight: 700;
  text-transform: uppercase;
}


.user-registration-form-section .form-elements-container .form-element .passowrd-check-err,
.user-login-form-section .form-elements-container .form-element .passowrd-check-err {
  display: none;
  color: red;
  font-size: 14px;
  font-weight: 600;
}

.user-registration-form-section .form-elements-container .form-element .passowrd-check-ok {
  display: none;
  color: #198313;
  font-size: 14px;
  font-weight: 600;
}

.user-login-form-section {
  display: none;
}

.user-bio-view {
  margin: 40px 0;
  padding: 20px;
}